!!! 5
html(lang='en')

  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")

  body
    h1 #{title}
    h2 using Node.js and Quintus.js

    canvas(width='480', height='480')#game

    script(type="text/javascript"  src='http://cdn.html5quintus.com/v0.1.6/quintus-all.js')
    script(type="text/javascript", src='/javascripts/game.js')
