body {
  padding-top: 50px;
}

h1, h2 {
	text-align: center;
}

p.text-info {
  font-size: 16px;
  margin-top: 25px;
  text-align: center;
}

form, #playersPanel {
  width: 500px;
  margin: 25px auto 0 auto;
}

.input-append {
  text-align: center;
}

